.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img {
  margin-top: 50px;
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  display: block;

  border: 4px solid #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: profileAppear 0.6s ease forwards;
}


.hero h1{
    text-align: center;
    font-size: 70px;
    width: 70%;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg,#DF8908 10% , #B415FF 100%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg , #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}
.hero-resume{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border:2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}
@media(max-width:768px){
   
   .hero h1{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
   }
   .hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
   }
   .hero-action{
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
   }
   .hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
   }
   .hero-resume{
    padding: 20px 50px;
    border-radius: 40px;
   }
}

.resume-btn {
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}




/* Hover effect */
.hero img:hover {
  transform: scale(1.05) rotate(3deg);
  box-shadow: 0 8px 25px rgba(171, 40, 136, 0.5);
}

/* Page load animation */
@keyframes profileAppear {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1) rotate(0deg); opacity: 1; }
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .hero img {
    margin-top: 45px;
    width: 250px;
    height: 250px;
  }
}




